@import "./variables";
@mixin flexCentre{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* @inherit may be useful*/

// front page logo
.centrelogo {
  @include flexCentre();
  max-width: 100%;
  height: auto;
  top:30%;
}

// front page name
.namefront {
  margin-top: 0%;
  margin-left: 1%;
  position: absolute;
  top: 53%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  :hover{
    text-decoration: none;
    cursor: pointer;
  }
}

// homepage body
body{
  background-color: $black;
  width: 100%;
  margin: 0;
  padding:0;
  overflow:hidden;
}

// header line
.header{
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  top: -20px;
  background: $beige;
}

// vertical lines
.vertical{
  position: absolute;
  top: 70px;
  width: 170px;
  border: 2px solid $beige;
  transform: rotate(90deg);
}

// name in top left hand corner
.name{
  margin-top: 2%;
  margin-left: 1%;
  position: absolute;
  top: 0%;
  left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  a{
    color: $white;
    text-decoration: none;
    :hover{
      color: $green;
    }
  }
}

// styling name on hover
a{
  :link {
    text-decoration: none;
    color: $green;
    }
  :visited {
    text-decoration: none;
    color: $green;
  }
  :hover {
    text-decoration: none;
    color: $green;
    }
  :active {
    text-decoration: none;
    color: $green;
  }
}

// logo in top right hand corner
.rightlogo{
  position: absolute;
  width: 175px;
  height: 153px;
  right: 2%;
  top: 30px;
  :hover{
    content: url("/assets/green logo.svg");
    cursor: pointer;
  }
}

// about me section
#aboutme{
  position: absolute;
  width: 293px;
  height: 149px;
  left: 370px;
  margin-top: 3.5%;

  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;

  color: $white;
}

// contact me section
#contactme{
  position: absolute;
  width: 293px;
  height: 149px;
  left: 670px;
  margin-top: 3.5%;

  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  a{
    color: $white;
    text-decoration: none;
  }
  p{
    :hover{
      color: $green;
    }
  }
  h3{
    margin-top: -6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $white;
  }
}

// cv
#cv{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  margin-top: 3%;
  max-width: 37%;
  max-height: auto;
  height: auto;
}

// typing "my portfolio"
// .typing{
//   position: absolute;
//   width: 800px;
//   height: 736px;
//   right: 5%;
//   top: 164px;

//   font-family: 'Helvetica';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 200px;
//   line-height: 200px;
//   text-align: right;

//   color: #FFFFFF;
// }

// portfolio animation
.my_portfolio{
  @include flexCentre();
  max-width:92%;
  height:auto;
}

// animations
.colours{
  position: absolute;
  width: 286px;
  height: 155px;
  left: 50px;
  top: 600px;

  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  text-transform: uppercase;

  color: $black;
}

// arrow line
.arrow{
  position: absolute;
  width: 120px;
  height: 0px;
  right: 1.6%;
  top: 700px;
  border: 2.2px dashed $beige;
  transform: matrix(0.7, 0.71, -0.72, 0.7, 0, 0);
  z-index: 2;
}

// arrow head
.arrowhead{
  position: absolute;
  width: 60px;
  height: 0px;
  right: 0.7%;
  top: 710px;

  border: 2.2px dashed $beige;
}